@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root{
      --ac-500: 238, 70%, 57%;
      --ac-500-hover: 238, 70%, 52%;
      --ac-400: 350, 96% ,43%;
      --ac-300: 186, 37%, 75%;
      --ac-200: 210, 15%, 70%;
      --ac-100: 210, 3%, 90%;
      --background: 100, 100%, 99%;
      --gray: 0, 0%, 50%;
      --black: 0, 0%, 0%;
      
      /*fonts*/
      --Rubik: font-family: 'Rubik', sans-serif;
      --Manrope: font-family: 'Manrope', sans-serif;
  }
}